<!DOCTYPE html>
<html lang="en">
<head>

    <title>home bage</title>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <h2>{{>header}}</h2>
    <h2>{{title}}</h2>
    <h2>{{desc}}</h2>

    {{!-- <form id="form1">
        <input type="text" id="address">
        <button>Country's Name</button>
    </form>

    <h2 id="location"></h2>
    <h2 id="latitude"></h2>
    <h2 id="longitude"></h2>
    <h2 id="forecast"></h2>
    <h2 id="error"></h2>


    <script src="js/script.js"></script>
     --}}
</body>
</html>