<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="'header1" >
        
        <a id="a1" href="/" >home</a>
        <a id="a2"  href="/check" >check weather</a>
        <a  id="a3" href="/weather" >weather</a>
    </div>
       <h2 class="'hed1">{{title}}</h2>
</body>
</html>